<div class="container pt-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <h1 class="text-center"><%= t('.resend_confirmation_instructions') %></h1>

            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
              <%= bootstrap_devise_error_messages! %>

              <div class="form-group my-1">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
              </div>

              <div class="form-group mt-5">
                <%= f.submit t('.resend_confirmation_instructions'), class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'devise/shared/links' %>
