<div class="mx-auto my-10 rounded-lg shadow p-10 max-w-lg bg-white border-gray-600 border-solid border">
  <div class="mt-10">
    <h1 class="font-bold text-center text-3xl text-gray-900">Edit <%= resource_name.to_s.humanize %></h1>
    <p class="text-center text-sm text-gray-400 font-medium">Secured details</p>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <%= f.label :email, class: 'label' do %>
        <span class="label-text text-black">Your Email</span>
      <% end %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mb-6">
      <%= f.label :password, class: 'font-medium'%> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, class: 'font-medium' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
    </div>

    <div class="mb-6">
      <%= f.label :current_password, class: 'font-medium' %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: 'my-2 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800' %>
      <%= link_to "Back", :back, class: 'btn btn-ghost' %>
    </div>
  <% end %>

  
</div>



