<div class="container mx-auto">
  <div class="mx-auto my-10 rounded-lg shadow p-10 max-w-lg">
    <h1 class=""><%= t('.sign_up') %></h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= bootstrap_devise_error_messages! %>

      <div class="mb-6">
        <%= f.label :email, class: 'text-gray-700 font-medium' %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input' %>
      </div>

      <div class="mb-6">
        <%= f.label :password, class: 'text-gray-700 font-medium' %>
        <%= f.password_field :password, autocomplete: 'current-password', class: 'input' %>

        <% if @minimum_password_length %>
          <small class="text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
        <% end %>
      </div>

      <div class="mb-6">
        <%= f.label :password_confirmation, class: 'text-gray-700 font-medium' %>
        <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'input' %>
      </div>

      <div class="flex justify-between items-center mb-3">
        <div class="mt-auto">
          <input type="checkbox" id="remember-me" name="remember-me" value="remember-me" class="checkbox">
          <label for="remember-me" class="text-gray-700 font-normal">Remember Me</label>
        </div>
        <a href="#" class="text-blue-700">Forgot your password?</a>
      </div>

      <%= f.submit 'Sign up', class: 'my-2 text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800' %>

    <% end %>
  </div>
<%= render 'devise/shared/links' %>