<%= form_with(model: workspace_user, class: "contents") do |form| %>
  <% if workspace_user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(workspace_user.errors.count, "error") %> prohibited this workspace_user from being saved:</h2>

      <ul>
        <% workspace_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :email, class: 'input-group' do %>
      <span class="border border-gray-700">Email</span>
      <%= form.email_field :email, class: "input input-bordered", placeholder: 'user@site.com' %>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit 'Send', class: "btn w-full btn-secondary" %>
  </div>
<% end %>
