<tr id="<%= dom_id workspace_user %>">
  <td>
    <div class="flex items-center space-x-3">
      <div class="avatar">
        <div class="mask mask-squircle w-12 h-12">
          <%= render partial: 'shared/profile_icon', locals: { user: workspace_user.user } %>
        </div>
      </div>
      <div>
        <div class="font-bold"><%= workspace_user.email %></div>
        <div class="text-sm opacity-50 <%= workspace_user.status %>"><%= workspace_user.status %></div>
      </div>
    </div>
  </td>
  <th>
    <button class="btn btn-ghost btn-xs">details</button>
  </th>
</tr>