<tr id="<%= dom_id workspace_user %>">
  <td>
    <div class="flex items-center space-x-3">
      <div class="avatar">
        <div class="mask mask-squircle w-12 h-12">
          <%= render partial: 'shared/profile_icon', locals: { user: workspace_user.user } %>
        </div>
      </div>
      <div>
        <div class="font-bold"><%= workspace_user.show_name %></div>
        <div class="text-sm opacity-50 <%= workspace_user.status %>"><%= workspace_user.status %></div>
      </div>
    </div>
  </td>
  <th data-controller="turbo-modal">
    <%= link_to 'Details', workspace_user_path(workspace_user), data: { turbo_frame: 'turbo-modal' }, class: 'btn btn-ghost btn-xs' %>
    <%= link_to 'Delete', workspace_user_delete_path(workspace_user), data: { turbo_frame: 'turbo-modal' }, class: 'btn btn-error btn-xs btn-outline' %>
  </th>
</tr>