<div style="line-height: 24px; text-align: center; max-width: 32rem; display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 0.5rem; border: 1px solid rgb(75 85 99/1); margin: 2.5rem; padding: 2.5rem">
  
  <% if @workspace_user.user.present? %>
    <h2>Hello <%= @workspace_user.user.name || @workspace_user.email %>!</h2>

    <p>You've been invited to join on <span style="color: #c65029;">Gooff</span>.

    <p><span style="color: #c65029;"><%= @workspace_user.workspace.name %></span> manages its employees time off work by using Gooff.</p>
    <p>This email is already linked to an account on Gooff and we assume that you already know what Gooff is.</p>

    <p><%= link_to 'See invite', new_user_session_url, style: 'border-radius: 0.5rem; padding: 10px 25px; color: white; background: rgb(108 43 217/1); text-decoration: none; font-weight: 500;' %></p>
  <% else %>
    <h2>Hello <%= @workspace_user.email %>!</h2>

    <p>You've been invited to join on <span style="color: #c65029;">Gooff</span>.

    <p><span style="color: #c65029;"><%= @workspace_user.workspace.name %></span> manages its employees time off work by using Gooff.</p>
    <p>You can learn more about what Gooff is <%= link_to 'here.', '/about', style: 'color: rgb(108 43 217/1);' %></p>

    <p><%= link_to 'Create an account', new_user_registration_url(wu: @workspace_user.id, token: @workspace_user.token), style: 'border-radius: 0.5rem; padding: 10px 25px; color: white; background: rgb(108 43 217/1); text-decoration: none; font-weight: 500;' %></p>
  <% end %>

</div>
