<div class="container pt-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <h1 class="text-center"><%= t('.sign_in') %></h1>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group my-1">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
              </div>

              <div class="form-group my-1">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="form-group form-check">
                  <%= f.check_box :remember_me, class: 'form-check-input' %>
                  <%= f.label :remember_me, class: 'form-check-label' do %>
                    <%= resource.class.human_attribute_name('remember_me') %>
                  <% end %>
                </div>
              <% end %>

              <div class="form-group mt-5">
                <%= f.submit  t('.sign_in'), class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'devise/shared/links' %>