<div class="container mx-auto font-sans antialiased" id="profile-page">
  <div class="container mx-auto my-60">
    <div>
      <div class="bg-white relative shadow rounded-lg w-5/6 md:w-4/6  lg:w-3/6 mx-auto">

        <div class="flex justify-center w-full">
          <%= form_for @user, url: update_profile_icon_path(@user) do |f| %>
            <div data-controller="profile-pic">
              <label for="uploaded-pic">
                <div class="flex justify-center w-full">
                  <% if current_user.icon.attached? %>
                    <%= image_tag current_user.icon, class: 'rounded-full mx-auto absolute -top-20 w-32 h-32 shadow-md border-4 border-white transition duration-200 transform hover:scale-110', id: 'pic-preview' %>
                  <% else %>
                    <%= image_tag 'blank_profile', class: 'rounded-full mx-auto absolute -top-20 w-32 h-32 shadow-md border-4 border-white transition duration-200 transform hover:scale-110', id: 'pic-preview' %>
                  <% end %>
                </div>
              </label>

              <div class="mt-20">
                <h1 class="font-bold text-center text-3xl text-gray-900"><%= @user.show_name %></h1>
                <p class="text-center text-sm text-gray-400 font-medium"><%= @user.email %></p>
              </div>


              <div class="flex flex-col mt-5">
                <label for="uploaded-pic">Your profile pic</label>
                <div>
                  <%= f.file_field :icon, autofocus: true, class: '', id: 'uploaded-pic' %>
                  <%= f.button 'Save', class: 'my-2 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800', id: 'save-button' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        
        <div class="mt-16">
          <div class="w-full">
            <h3 class="font-medium text-gray-900 text-left px-6">Personal details</h3>
            
            <% frame_id = dom_id(@user, 'details_turbo_frame')%>
            <%= form_for @user, url: update_profile_path(@user), data: { turbo_frame: frame_id } do |f| %>
              <%= turbo_frame_tag frame_id do %>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Name: </td>
                      <td class="py-4 px-6"><%= @user.show_name %></td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Date of birth: </td>
                      <td class="py-4 px-6"><%= @user.show_dob %></td>
                    </tr>
                  </tbody>
                </table>

                <div class="mt-5 w-full flex flex-col items-center overflow-hidden text-sm">
                  <%= link_to edit_profile_path(@user), class: 'w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 block hover:bg-gray-100 transition duration-150' do %>
                    <img src="https://avatars0.githubusercontent.com/u/35900628?v=4" alt="" class="rounded-full h-6 shadow-md inline-block mr-2">
                    Edit 
                    <span class="text-gray-500 text-xs">personal details</span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="mt-16">
            <h3 class="font-medium text-gray-900 text-left px-6">Secured details</h3>
            <% frame_id = dom_id(@user, 'secure_turbo_frame') %>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= turbo_frame_tag frame_id do %>
                  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <tbody>
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Email: </td>
                        <td class="py-4 px-6"><%= @user.email %></td>
                      </tr>
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Password: </td>
                        <td class="py-4 px-6">***</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="mt-5 w-full flex flex-col items-center overflow-hidden text-sm">
                    <%= link_to edit_profile_path(@user), class: 'w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 block hover:bg-gray-100 transition duration-150' do %>
                      <img src="https://avatars0.githubusercontent.com/u/35900628?v=4" alt="" class="rounded-full h-6 shadow-md inline-block mr-2">
                      Edit 
                      <span class="text-gray-500 text-xs">secured details</span>
                    <% end %>
                  </div>
              <% end %>
            <% end %>
          </div>

          <div class="mt-16">
            <h3 class="font-medium text-gray-900 text-left px-6">Unhappy?</h3>
            <div class="mt-5 w-full flex flex-col items-center overflow-hidden text-sm">
              <%= link_to profile_delete_path(@user), data: { turbo_frame: 'turbo-modal' }, class: "w-full border-t border-gray-100 text-orange-600 py-4 pl-6 pr-3 block hover:bg-gray-100 transition duration-150" do %>
                <img src="https://avatars0.githubusercontent.com/u/35900628?v=4" alt="" class="rounded-full h-6 shadow-md inline-block mr-2">
                Delete your account
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> 
