<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Workpsaces</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Toastify JS CSS %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css' %>


    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller="toastify" data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <%= turbo_frame_tag "turbo-modal" %>
    
    <main class="container mx-auto max-w-[1200px]">
      <header>
        <%= render partial: 'layouts/navbar', locals: { logo: @workspace.name } %>
      </header>
      <%= yield %>
    </main>
  </body>
</html>
